@using System.Globalization
@model List<WarungKuApp.ViewModels.KeranjangViewModel>
@{
   ViewData["Title"] = "Home Page";
   Layout = "_LayoutTemplate";
   int i = 0;
}

<section class="product_section layout_padding2-top layout_padding-bottom">
   <div class="container">
      <div class="heading_container heading_center">
         <h2>
            Keranjang
         </h2>
         <p>
            Ini keranjang mu, silahkan dicheckout takut kehabisan orang lain, yang lagi ramai berbelanja
         </p>
      </div>
      <div class="row">
         <form asp-controller="Transaksi" asp-action="Checkout">
            <table class="table">
               <thead>
                  <tr class="text-nowrap">
                     <th class="text-center">#</th>
                     <th class="text-center">Nama Produk</th>
                     <th class="text-center">Gambar</th>
                     <th class="text-center">Jumlah</th>
                     <th class="text-center">SubTotal</th>
                     <th class="text-center">Tombol</th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (var item in Model)
                  {
                     i++;
                     <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@item.NamaProduk</td>
                        <td class="text-center"> <img src="~/@item.Image" height="100" /></td>
                        <td class="text-center">
                           <input type="hidden" name="Id" value="@item.IdKeranjang" />
                           <input type="hidden" name="Harga" value="@item.harga" />
                           <input type="number" class="text-dark" name="Qty" value="@item.JmlBarang" min="1" />
                        </td>
                        <td class="text-center sub-tot">@item.Subtotal.ToString("C", new CultureInfo("id-ID"))</td>
                        <td class="text-center"><button class="btn btn-sm btn-danger b-hapus" type="button"
                           data-keranjang="@item.IdKeranjang"><i class="fas fa-trash"></i></button></td>
                     </tr>
                  }
               </tbody>
            </table>
            <label>Pilih Alamat Pengiriman</label>
            <select name="Alamat" asp-items="@ViewBag.AlamatList"></select>
            <div class="col-12 mt-3">
               <button class="btn btn-success mx-1" type="submit" name="Action" value="Checkout">Checkout</button>
               @* <button class="btn btn-primary" type="submit" name="Action" value="Simpan">Simpan</button> *@
            </div>
         </form>
      </div>
   </div>
</section>

@section Scripts {
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
   $(document).ready(function () {
      $("input[name='Qty']").on('change', function (e) {
         let qty = $(this).val(),
            harga = $(this).siblings("input[name='Harga']").val();
         let id = $(this).siblings("input[name='Id']").val(),
            base = $(this);
         $.ajax({
            url: "/Keranjang/Edit",
            type: "post",
            data: { IdKeranjang: id, JmlBarang: qty },
            dataType: "json",
            success: function (response) {
               if (response.success) {
                  console.log(response.message);
                  base.parent().siblings(".sub-tot").text(`Rp.${hitung(harga, qty)}`);
               } else {
                  console.log(response.message);
               }
            }
         })
      })

      $(".b-hapus").on('click', function (e) {
         let id = $(this).attr("data-keranjang");
         Swal.fire({
            title: 'Hapus Produk dari keranjang?',
            showDenyButton: true,
            confirmButtonText: 'Tidak',
            denyButtonText: `Ya`,
         }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (!result.isConfirmed) {
               $.ajax({
                  url: "/Keranjang/Delete",
                  type: "post",
                  data: { id: id },
                  dataType: "json",
                  success: function (response) {
                     if (response.success) {
                        console.log(response.message);
                        window.location.reload(true);
                     } else {
                        console.log(response.message);
                     }
                  }
               })
            } else if (result.isDenied) {
               Swal.fire('Changes are not saved', '', 'info')
            }
         })
      })

      const hitung = (harga, qty) => {
         let total = parseFloat(harga) * parseFloat(qty);
         var abc = new Intl.NumberFormat(['ban', 'id']).format(total);
         return abc;
      }
   });
</script>
}