@model IEnumerable<WarungKuApp.ViewModels.KatalogViewModel>

@{
     ViewData["Title"] = "Home Page";
     Layout = "_LayoutTemplate";
}

<div class="container">
     @foreach (var item in Model)
     {
          <div class="card mb-3" style="max-width: 540px;">
               <div class="row g-0">
                    <div class="col-md-4">
                         <img src="" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                         <div class="card-body">
                              <h4 class="card-title">@item.Nama</h4>
                              <h5 class="card-title">@string.Format("{0:C}", item.Harga)</h5>
                              <p class="card-text">@item.Deskripsi</p>
                              <p class="card-text">@item.Stok</p>
                              <div class="row">
                                   <form asp-action="Add" asp-controller="Keranjang" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="produkId" value="@item.IdProduk" />
                                        <button class="btn btn-success" type="submit"
                                        value="Tambahkan ke Keranjang">Tambahkan ke keranjang</button>
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     }
</div>